.contact{

padding:120px 0;

background:#101d3d;

}

.contact-form{

max-width:700px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}

.contact-form input,
.contact-form textarea{

padding:18px;

border:none;

border-radius:8px;

font-size:16px;

}

.contact-form button{

padding:18px;

background:#00d9ff;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}