.hero{

    padding:120px 20px;

    text-align:center;

    background:linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );

    color:white;

}

.hero h1{

    font-size:52px;

}

.hero p{

    margin-top:20px;

    font-size:20px;

    opacity:.9;

}