.navbar{

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,.05);

    position:sticky;

    top:0;

    z-index:100;

}

.navbar a{

    color:var(--text);

    font-weight:600;

}

.navbar a:hover{

    color:var(--primary);

}