.skills{

padding:120px 0;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}

.skill-card{

background:#15244a;

padding:25px;

border-radius:10px;

text-align:center;

transition:.3s;

font-weight:bold;

}

.skill-card:hover{

background:#00d9ff;

transform:translateY(-8px);

}